<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andy.sc2vb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZergActivity"
            android:label="@string/title_activity_zerg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TerranActivity"
            android:label="@string/title_activity_terran"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProtossActivity"
            android:label="@string/title_activity_protoss"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TerranCreateActivity"
            android:label="@string/title_activity_terran_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZergCreateActivity"
            android:label="@string/title_activity_zerg_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProtossCreateActivity"
            android:label="@string/title_activity_protoss_create"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>